.main-feature {
  display: flex;
  flex-direction: row;
  background: #f1f3f5;
  width: 270px;
  border-radius: 20px;
  transition: transform 0.3s ease-in;
  /* background: #f5f0f0; */
  padding: 20px;
  cursor: pointer;
  color: black;
  gap: 20px;

  &:hover {
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    transform: scale(1.05);
    border-radius: 20px;
  }
}

.main-feature__icon {
  height: 80px;
  margin: auto;
}

.main-feature__subtitle {
  font-family: "Poppins", sans-serif, Arial;
  text-align: center;
  margin: auto;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
}

.main-feature__paragraph {
  margin: 0;
  font-size: 18px;
}

@media screen and (max-width: 900px) {
  .main-feature__subtitle {
    line-height: 16px;
  }
}
